# Dependencias
/node_modules
/.pnp
.pnp.js

# Next.js build y output
/.next/
/out/

# Entornos y secretos
.env*.local
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel & IDE
.vercel
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
